<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
      <br>
    </div>
    <div class="col-xs-6 text-right">
      <a href="#/product/create" class="btn btn-success">Nowy produkt</a>
    </div>
  </div>
  <div ng-controller="products">
    <div class="alert alert-info" ng-repeat="product in products | filter : search">
      <span class="text-capitalize">{{product.nazwa}}</span>
      <br>
      waga szt.: {{product.waga}} kg
      <br>
      {{product.opis}}
      <br>
      {{product.cena | number:2}} zł / kg
      <br>
      <a href="#/product/edit/{{$index}}" class="btn btn-default">Edytuj</a>
      <button ng-click="delete( product , $index )" class="btn btn-danger pull-right">Usuń</button>
    </div>
  </div>
</div>